<div class="jumbotron">
  <% if user_signed_in? %>
      <% if current_user.admin?%>
          <h2>Welcome back, Administrator</h2>
         <%else if current_user.prof?%>
          <h2>Welcome back, professor!</h2>
         <% else %>
          <h2>Welcome back, dear student!</h2>
          <% end %>
        <% end %>
      <p class="lead">
        You've successfully signed in!  If this were a real app some sweet conent
        would go here.  But it's just a test.  You might want to sign out now.
      </p>
<% else %>
      <h2>Welcome to my transcript!</h2>
      <p class="lead">
        You must sign in or sign up before you can access our secret content.
      </p>
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
          <%= link_to "Sign In", new_user_session_path, :class=>'btn btn-primary btn-md ' %>
        </div>
          <div class="col-sm-11">
          <%= link_to "Sign Up", new_user_registration_path, :class=>'btn btn-primary  btn-md ' %>
        </div>
        </div>
      </div>
  <% end %>
</div>

<% @users= User.where(approved: false) %>
<% @users.each do |user|%>
<tr>
  <td><%= user.first_name %></td>
  <td><%= user.email %></td>
  <td><%= user.approved %></td>
  <td><%= link_to "Edit", edit_user_path(user) %></td>
</tr>
    <%end%>

<p>&copy;Hao LIU, Loubna HENNACH 2017</p>
