<%= form_for @subjet, :html => { :class => "form-horizontal subjet" } do |f| %>

  <% if @subjet.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@subjet.errors.count, "error") %> prohibited this subjet from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @subjet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titre, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :titre, :class => 'form-control' %>
    </div>
    <%=f.error_span(:titre) %>
  </div>
  <div class="form-group">
    <%= f.label :periode, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :periode, :class => 'form-control' %>
    </div>
    <%=f.error_span(:periode) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                subjets_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
