<%= content_for :page_stylesheet do %>
    <!-- 这是 index.html.erb 里单独使用的 -->
<% end %>

<%- model_class = User -%>
<div class="page-header">
  <h2>Administrator list</h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:first_name) %></th>
    <th><%= model_class.human_attribute_name(:last_name) %></th>
    <th><%= model_class.human_attribute_name(:User_type) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @users = User.all %>
  <% @users.where(:admin => true).each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td> <%if user.admin?%>
              <%=  'Administrator' %>
          <%else if user.prof?%>
                  <%= 'Professor' %>
              <%else if user.student?%>
                      <%= 'Student' %>
                  <%end%>
              <%end%>
          <%end%>
        </td>
        <td><%= user.email %>
      </tr>
  <% end %>
  </tbody>
</table>

